<body class="font-inter flex flex-col justify-between bg-secondary h-full">
    <main class="flex gap-20 justify-center items-center py-40 text-primary phone:flex-col phone:pt-20">
        <h1 class="text-5xl font-bold text-primary break-words">
            Project nexus
        </h1>