</main>
<footer class="bg-primary text-secondary flex justify-start font-semibold px-4">
    <a href="" class="px-4 py-4 hover:bg-white hover:bg-opacity-10">
        About
    </a>
    <a href="https://github.com/alejandraa-cruiz/TC2005B-Equipo-" class="flex gap-2 px-4 py-4 hover:bg-white hover:bg-opacity-10">
        <i class="bx bxl-github text-2xl"></i>
        <span>
            Original project
        </span>
    </a>
    <a href="https://github.com/JosePeblo/ProjectNexus" class="flex gap-2 px-4 py-4 hover:bg-white hover:bg-opacity-10">
        <i class="bx bxl-github text-2xl"></i>
        <span>
            Fork
        </span>
    </a>
</footer>
</body>